Repository OpenTUT/opentut.gr.jp: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, biome

lefthook.yml:

pre-commit:
  commands:
    prettier:
      glob: "*.astro"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    biome:
      glob: "*.{js,ts,cjs,mjs,cts,mts,jsx,tsx,json,jsonc,astro}"
      run: npx @biomejs/biome check --apply {staged_files}
      stage_fixed: true

fix lt doc
  src/content/archive/nohup.md
Due: none

update schedule
  src/schedule.ts
Due: biome

simd2
  src/content/archive/simd2.md
Due: none

fix date
  src/content/archive/simd2.md
Due: none

googleカレンダー追加
  src/pages/index.astro
Due: prettier, biome

スクロールできそうなUIに
  src/components/Header.astro
  src/pages/index.astro
Due: prettier, biome

fix
  src/components/Header.astro
Due: prettier, biome

fix
  src/components/HeaderLink.astro
Due: prettier, biome

use tailwind
  src/components/Header.astro
Due: prettier, biome

lt20240912
  src/content/archive/nadeshiko/index.md
  src/content/archive/nadeshiko/n1.png
  src/content/archive/nadeshiko/n2.png
  src/content/archive/nadeshiko/n3.png
  src/content/archive/nadeshiko/n4.png
  src/content/archive/nadeshiko/n5.png
  src/content/archive/nadeshiko/n6.png
  src/content/archive/nadeshiko/n7.png
  src/content/archive/nadeshiko/n8.png
Due: none

9/19
  public/dl/agent_env.svg
  public/dl/backup.svg
  public/dl/backup2.svg
  public/dl/dp.svg
  public/dl/mon.svg
  public/dl/toi1.svg
  src/content/archive/dl/index.md
Due: none

TUTIlityインストール用ページ
  public/tutility/install.html
Due: none

pdfの画像化
  package-lock.json
  package.json
  pdf/dl.pdf
  src/components/MarpSwiper.astro
  src/components/PDFSwiper.astro
  src/components/Swiper.astro
  src/content/archive/dl/index.md
  src/content/config.ts
  src/pages/archive/[...slug].astro
Due: prettier, biome

記事のアイキャッチをPDFから生成
  src/components/PDFSwiper.astro
  src/convertPDF.ts
  src/pages/archive/index.astro
Due: prettier, biome

katex導入
  astro.config.mjs
  package-lock.json
  package.json
  src/layouts/Base.astro
Due: prettier, biome

LTスライド
  pdf/webworker_comlink.pdf
  src/content/archive/webworker_comlink.md
Due: none

LTスライド
  pdf/uart.pdf
  src/content/archive/uart.md
Due: none

fix
  src/content/archive/uart_timing.png
Due: none

lt
  pdf/button.pdf
  src/content/archive/button.md
Due: none

aboutのスケジュールを修正
  src/pages/about.astro
Due: prettier, biome

11/10 lt
  src/content/archive/ilp.md
Due: none

11/10
  pdf/ilp.pdf
Due: none

add lt/
  pdf/lt/button.pdf
  pdf/lt/dl.pdf
  pdf/lt/ilp.pdf
  pdf/lt/uart.pdf
  pdf/lt/webworker_comlink.pdf
  src/content/archive/button.md
  src/content/archive/dl/index.md
  src/content/archive/ilp.md
  src/content/archive/uart.md
  src/content/archive/webworker_comlink.md
Due: none

gen LT docs
  pdf/lt/blogupdate.pdf
  pdf/lt/nadeshiko.pdf
  pdf/lt/nohup.pdf
  pdf/lt/phototransistor.pdf
  pdf/lt/pictochat.pdf
  pdf/lt/pip.pdf
  pdf/lt/simd1.pdf
  pdf/lt/simd2.pdf
  pdf/lt/tutility_structure.pdf
  pdf/lt/word2vec.pdf
Due: none

update latest md system
  src/content/archive/blogupdate.md
  src/content/archive/dl.md
  src/content/archive/dl/index.md
  src/content/archive/nadeshiko/nadeshiko.md
  src/content/archive/nohup.md
  src/content/archive/phototransistor.md
  src/content/archive/pictochat/pictochat.md
  src/content/archive/pip.md
  src/content/archive/simd1.md
  src/content/archive/simd2.md
  src/content/archive/tutility_structure.md
  src/content/archive/word2vec/word2vec.md
Due: none

change dir name lt -> archive
  pdf/archive/blogupdate.pdf
  pdf/archive/button.pdf
  pdf/archive/dl.pdf
  pdf/archive/ilp.pdf
  pdf/archive/nadeshiko.pdf
  pdf/archive/nohup.pdf
  pdf/archive/phototransistor.pdf
  pdf/archive/pictochat.pdf
  pdf/archive/pip.pdf
  pdf/archive/simd1.pdf
  pdf/archive/simd2.pdf
  pdf/archive/tutility_structure.pdf
  pdf/archive/uart.pdf
  pdf/archive/webworker_comlink.pdf
  pdf/archive/word2vec.pdf
  src/content/archive/blogupdate.md
  src/content/archive/button.md
  src/content/archive/dl.md
  src/content/archive/ilp.md
  src/content/archive/nadeshiko/nadeshiko.md
  src/content/archive/nohup.md
  src/content/archive/phototransistor.md
  src/content/archive/pictochat/pictochat.md
  src/content/archive/pip.md
  src/content/archive/simd1.md
  src/content/archive/simd2.md
  src/content/archive/tutility_structure.md
  src/content/archive/uart.md
  src/content/archive/webworker_comlink.md
  src/content/archive/word2vec/word2vec.md
Due: none

add introduction
  src/pages/introduction/[...slug].astro
  src/pages/introduction/index.astro
  src/pages/introductions/index.astro
Due: prettier, biome

update Introductions
  src/pages/introductions/[...slug].astro
  src/pages/introductions/index.astro
Due: prettier, biome

fix introductions typo miss
  src/pages/introductions/index.astro
Due: prettier, biome

add temporary pdf test
  src/content/introductions/map.md
Due: none

update config file for introductions
  src/content/config.ts
  src/content/introductions/map.md
  src/pages/introductions/index.astro
Due: prettier, biome

Intro
  pdf/introduction/kinoh.pdf
  src/content/introductions/kinoh.md
  src/content/introductions/map.md
Due: none

fix intro
  pdf/introductions/kinoh.pdf
  src/content/introductions/kinoh.md
Due: none

fix kinoh.md
  src/content/introductions/kinoh.md
Due: none

fix
  src/content/introductions/kinoh.md
Due: none

devcontainer追加
  .devcontainer/devcontainer.json
Due: biome

とりあえず
  src/content/introductions/eyrin.md
Due: none

update eyrin.md
  src/content/introductions/eyrin.md
Due: none

upload lt doc
  pdf/archive/notion.pdf
  src/content/archive/notion.md
Due: none
