Repository OpenTUT/opentut.gr.jp: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, biome

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

biome:
  run: npx @biomejs/biome check --apply {staged_files}
  stage_fixed: true

活動時間を修正
  src/pages/about.astro
Due: prettier, biome

Add files via upload
  src/content/archive/document_cpu.md
Due: none

Add files via upload
  pdf/archive/cpu.pdf
Due: none

gomen
  pdf/archive/cobs.pdf
  src/content/archive/cobs.md
Due: none

LT doc
  pdf/archive/gemini.pdf
  src/content/archive/gemini.md
  src/content/archive/gemini.png
Due: none

lt
  pdf/archive/svg.pdf
  src/content/archive/svg/svg.md
  src/content/archive/svg/svg.png
Due: none

lt
  pdf/archive/svg.pdf
  src/content/archive/svg/svg.md
Due: none

add pd lt md
  pdf/archive/pd.pdf
  src/content/archive/pd/image.png
  src/content/archive/pd/pd.md
  src/content/archive/pd/pd.png
Due: none

fix fig
  src/content/archive/pd/pd.md
Due: none

lt
  pdf/archive/npm_workspaces.pdf
  src/content/archive/npm_workspaces.md
Due: none

lt
  pdf/archive/dithering.pdf
  pdf/archive/svg.pdf
  src/content/archive/dithering/ad.png
  src/content/archive/dithering/dithering.md
  src/content/archive/dithering/fsd.png
  src/content/archive/dithering/orig.png
  src/content/archive/dithering/rd.png
  src/content/archive/dithering/simple.png
  src/content/archive/dithering/svg.png
Due: none

fix md
  src/content/archive/dithering/dithering.md
Due: none

ｌｔ
  pdf/archive/make_arduino_lib.pdf
  src/content/archive/make_arduino_lib/Screenshot from 2025-04-27 13-54-00.png
  src/content/archive/make_arduino_lib/Screenshot from 2025-04-27 13-54-30.png
  src/content/archive/make_arduino_lib/index.md
Due: none

update
  src/content/projects/workshop_manual/avatar.png
  src/content/projects/workshop_manual/complete.png
  src/content/projects/workshop_manual/component.png
  src/content/projects/workshop_manual/finished_product.png
  src/content/projects/workshop_manual/icon.png
  src/content/projects/workshop_manual/image-1.png
  src/content/projects/workshop_manual/image-2.png
  src/content/projects/workshop_manual/image-3.png
  src/content/projects/workshop_manual/image-4.png
  src/content/projects/workshop_manual/image-5.png
  src/content/projects/workshop_manual/image-6.png
  src/content/projects/workshop_manual/image-7.png
  src/content/projects/workshop_manual/image.png
  src/content/projects/workshop_manual/initial_state.png
  src/content/projects/workshop_manual/manual.md
  src/content/projects/workshop_manual/run_dev.png
Due: none

fix wrong file path
  src/content/projects/workshop_manual/manual.md
Due: none

fix typo
  src/content/projects/workshop_manual/manual.md
Due: none

env
  src/content/projects/workshop_manual/env.md
  src/content/projects/workshop_manual/git.png
  src/content/projects/workshop_manual/image-10.png
  src/content/projects/workshop_manual/image-8.png
  src/content/projects/workshop_manual/image-9.png
  src/content/projects/workshop_manual/image2.png
  src/content/projects/workshop_manual/image3.png
  src/content/projects/workshop_manual/image6.png
  src/content/projects/workshop_manual/image7.png
  src/content/projects/workshop_manual/nodejs.png
  src/content/projects/workshop_manual/nodejs2.png
  src/content/projects/workshop_manual/show_ext.png
  src/content/projects/workshop_manual/vscode.png
Due: none

lt
  pdf/archive/awk.pdf
  src/content/archive/awk/awk1.png
  src/content/archive/awk/awk2.png
  src/content/archive/awk/awk3.png
  src/content/archive/awk/index.md
Due: none

update
  pdf/archive/simplex.pdf
  src/content/archive/simplex/image-1.png
  src/content/archive/simplex/image.png
  src/content/archive/simplex/simplex.md
Due: none

update
  src/components/Header.astro
  src/pages/news/index.astro
Due: prettier, biome

package.json整理
  .devcontainer/devcontainer.json
  package-lock.json
  package.json
Due: biome

update config
  astro.config.ts
  tailwind.config.ts
Due: biome

fix warning
  src/convertPDF.ts
Due: biome

tailwind以外を更新
  .node-version
  package-lock.json
  package.json
Due: biome

fix
  src/convertPDF.ts
Due: biome

tailwind v3 -> v4
  astro.config.ts
  package-lock.json
  package.json
  src/components/Header.astro
  src/components/HeaderLink.astro
  src/components/Terminal.tsx
  src/layouts/Base.astro
  src/pages/archive/index.astro
  src/pages/index.astro
  src/pages/introductions/index.astro
  src/pages/projects/index.astro
  src/styles/global.css
  tailwind.config.ts
Due: prettier, biome

add metadata
  src/pages/news/index.astro
  src/pages/news/metadata.json.ts
Due: prettier, biome

fix
  src/pages/news/index.astro
  src/pages/news/metadata.json.ts
Due: prettier, biome

add news
  src/pages/news/index.astro
Due: prettier, biome

Path conditions:
  prettier: any of: *.astro
  biome: any of: *.{js,ts,cjs,mjs,cts,mts,jsx,tsx,json,jsonc,astro}
