Repository OpenTUT/opentut.gr.jp: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, biome

lefthook.yml:

pre-commit:
  commands:
    prettier:
      glob: "*.astro"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    biome:
      glob: "*.{js,ts,cjs,mjs,cts,mts,jsx,tsx,json,jsonc,astro}"
      run: npx @biomejs/biome check --apply {staged_files}
      stage_fixed: true

use vanila swiper
  src/components/Slider.tsx
  src/components/Swiper.astro
  src/components/Terminal.tsx
  src/pages/index.astro
Due: prettier, biome

fix
  src/components/Swiper.astro
Due: prettier, biome

fix
  src/content/archive/tutility_structure.md
Due: none

update
  package-lock.json
Due: biome

fix
  src/components/Header.astro
Due: prettier, biome

fix header
  src/components/Header.astro
Due: prettier, biome

blocky
  src/components/HeaderLink.astro
  src/layouts/Article.astro
  src/pages/archive/index.astro
  src/pages/index.astro
  src/pages/projects/index.astro
Due: prettier, biome

fix
  src/layouts/Base.astro
Due: prettier, biome

fix
  src/components/HeaderLink.astro
Due: prettier, biome

slide
  package-lock.json
  package.json
  src/components/MarpSwiper.astro
  src/pages/archive/[...slug].astro
  src/pages/index.astro
Due: prettier, biome

fix
  src/components/Swiper.astro
  src/pages/index.astro
Due: prettier, biome

fix
  src/pages/archive/[...slug].astro
Due: prettier, biome

Add files via upload
  src/content/archive/blogupdate.md
Due: none

upload LT doc
  src/content/archive/pictchat/Slider1.png
  src/content/archive/pictchat/index.md
  src/content/archive/pictochat/Pictochat.png
  src/content/archive/pictochat/pictochat.md
Due: none

upload LT doc
  src/content/archive/word2vec/Word2vec.png
  src/content/archive/word2vec/word2vec.md
Due: none

rename
  src/content/archive/pictochat/index.md
  src/content/archive/word2vec/index.md
  src/content/archive/word2vec/word2vec.md
Due: none

shadow domで解決
  src/components/MarpSwiper.astro
Due: prettier, biome

important!!!
  src/components/MarpSwiper.astro
Due: prettier, biome

safariくたばれ
  src/components/MarpSwiper.astro
Due: prettier, biome

important
  src/components/Swiper.astro
Due: prettier, biome

fix index.astro to show the latest schedule
  src/pages/index.astro
Due: prettier, biome

20240627
  src/content/archive/phototransistor/20240627.md
  src/content/archive/phototransistor/image-1.png
Due: none

Update 20240627.md
  src/content/archive/phototransistor/20240627.md
Due: none

add phototransistor
  src/content/archive/phototransistor.md
  src/content/archive/phototransistor/20240627.md
  src/content/archive/phototransistor/image-1.png
Due: none

update schedule
  src/schedule.ts
Due: biome

expand click area for Projects and Archive
  src/pages/archive/index.astro
  src/pages/projects/index.astro
Due: prettier, biome

Add files via upload
  src/content/archive/pip.md
Due: none

add introduction page
  src/components/Header.astro
  src/content/config.ts
  src/content/introductions/map.md
  src/pages/index.astro
  src/pages/introductions/[...slug].astro
  src/pages/introductions/index.astro
Due: prettier, biome

edit logo
  src/components/Header.astro
Due: prettier, biome

スライド追加
  src/content/archive/simd1.md
Due: none

Add files via upload
  src/content/projects/map/map.md
  src/content/projects/map/map.png
Due: none

Delete src/content/projects/map.md
  src/content/projects/map.md
Due: none

Update map.md
  src/content/projects/map/map.md
Due: none

LT20240725
  src/content/archive/nohup.md
Due: none
