Repository OpenTUT/opentut.gr.jp: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, biome

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

biome:
  run: npx @biomejs/biome check --apply {staged_files}
  stage_fixed: true

add optimizeImage
  src/assets/index.ts
  src/components/Header.tsx
  src/components/Slider.tsx
  src/components/Terminal.tsx
Due: biome

add privacy policy
  .prettierignore
  .prettierrc.yml
  package.json
  src/pages/privacy.astro
Due: prettier, biome

Create astro.yml
  .github/workflows/astro.yml
Due: none

add tutility page
  src/components/Header.tsx
  src/pages/tutility.astro
Due: prettier, biome

fix
  src/pages/index.astro
Due: prettier, biome

fix bug
  src/assets/index.ts
  src/components/Header.tsx
  src/components/Slider.tsx
  src/pages/index.astro
Due: prettier, biome

fix
  src/assets/Slider5.png
  src/components/Terminal.tsx
  src/pages/activities.astro
  src/pages/index.astro
  src/pages/tutility.astro
Due: prettier, biome

update activities.astro
  src/pages/activities.astro
Due: prettier, biome

add blog component and example article
  src/assets/posts/blog/Slider1.png
  src/layouts/Layout.astro
  src/pages/article.astro
  src/pages/members.astro
  src/pages/posts/blog/pictchat.md
  src/pages/posts/blog/structTUTlity.md
  src/pages/posts/projects/map.md
Due: prettier, biome

edit font size
  src/layouts/Layout.astro
  src/pages/posts/projects/map.md
Due: prettier, biome

OpenTUTに名称変更
  .github/workflows/astro.yml
  package-lock.json
  package.json
  public/favicon.svg
  src/assets/opentut_logo_large.svg
  src/assets/tut_iic_logo.svg
  src/components/Footer.tsx
  src/components/Header.tsx
  src/layouts/Layout.astro
  src/pages/activities.astro
  src/pages/index.astro
  src/pages/members.astro
  src/pages/tutility.astro
Due: prettier, biome

修正
  src/components/Header.tsx
Due: biome

Twitter ID更新
  src/components/Footer.tsx
  src/components/Header.tsx
  src/pages/index.astro
Due: prettier, biome

fix
  tailwind.config.mjs
Due: biome

アイキャッチ画像修正
  src/content/config.ts
  src/content/posts/pictchat/Slider1.png
  src/content/posts/pictchat/index.md
  src/content/posts/structTUTlity.md
  src/content/projects/map.md
  src/pages/members.astro
Due: prettier, biome

fix
  src/content/posts/pictchat.md
Due: none

content使う
  package-lock.json
  package.json
  src/content/config.ts
  src/content/posts/pictchat.md
  src/content/posts/structTUTlity.md
  src/content/projects/map.md
  src/env.d.ts
  src/pages/members.astro
  src/pages/posts/[...slug].astro
  src/pages/projects/[...slug].astro
Due: prettier, biome

prettierに戻した
  .prettierignore
  .prettierrc
  .prettierrc.yml
  .vscode/extensions.json
  .vscode/settings.json
  astro.config.mjs
  biome.json
  lefthook.yml
  package-lock.json
  package.json
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Slider.tsx
  src/components/Terminal.tsx
  src/content/posts/pictchat.md
  src/content/posts/structTUTlity.md
  src/content/projects/map.md
  src/pages/activities.astro
  src/pages/article.astro
  src/pages/index.astro
  src/pages/members.astro
  src/pages/posts/[...slug].astro
  src/pages/projects/[...slug].astro
  src/pages/tutility.astro
Due: prettier, biome

typography
  src/layouts/Layout.astro
  src/pages/posts/[...slug].astro
  src/pages/projects/[...slug].astro
  tailwind.config.mjs
Due: prettier, biome

いらない
  src/pages/article.astro
Due: prettier, biome

marp対応
  astro.config.mjs
  package-lock.json
  package.json
  src/content/config.ts
  src/content/posts/structTUTlity.md
  src/content/posts/tutility_structure.md
  src/pages/members.astro
  src/pages/posts/[...slug].astro
Due: prettier, biome

fix
  astro.config.mjs
Due: biome

定数を追加
  astro.config.mjs
  src/components/Footer.tsx
  src/content/config.ts
  src/content/posts/tutility_structure.md
  src/layouts/Layout.astro
  src/pages/activities.astro
  src/pages/consts.ts
  src/pages/index.astro
  src/pages/members.astro
  src/pages/posts/[...slug].astro
  src/pages/projects/[...slug].astro
  src/pages/tutility.astro
Due: prettier, biome

fix
  src/components/Header.tsx
  src/components/Terminal.tsx
  src/content/config.ts
  src/content/posts/pictchat/index.md
  src/content/posts/tutility_structure.md
  src/content/projects/map.md
  src/layouts/Base.astro
  src/pages/activities.astro
  src/pages/index.astro
  src/pages/members.astro
  src/pages/posts/[...slug].astro
  src/pages/projects/[...slug].astro
  src/pages/tutility.astro
Due: prettier, biome

fix
  src/layouts/Base.astro
  src/pages/activities.astro
  src/pages/index.astro
  src/pages/members.astro
  src/pages/posts/[...slug].astro
  src/pages/projects/[...slug].astro
  src/pages/tutility.astro
Due: prettier, biome

fix
  src/components/Footer.tsx
  src/components/Header.tsx
  src/consts.ts
  src/layouts/Base.astro
  src/pages/activities.astro
  src/pages/index.astro
  src/pages/members.astro
  src/pages/posts/[...slug].astro
  src/pages/projects/[...slug].astro
  src/pages/tutility.astro
Due: prettier, biome

delete footer
  src/components/Footer.tsx
Due: biome

fix
  src/layouts/Base.astro
Due: prettier, biome

Cardコンポーネント追加
  src/components/Card.astro
  src/components/Header.tsx
  src/layouts/Base.astro
  src/pages/activities.astro
  src/pages/index.astro
  src/pages/members.astro
  src/pages/posts/[...slug].astro
  src/pages/projects/[...slug].astro
  src/pages/tutility.astro
Due: prettier, biome

デザイン変えた
  package-lock.json
  package.json
  src/components/Card.astro
  src/components/Header.astro
  src/components/Header.tsx
  src/components/HeaderLink.astro
  src/components/Slider.tsx
  src/components/Terminal.tsx
  src/content/archive/pictchat/Slider1.png
  src/content/archive/pictchat/index.md
  src/content/archive/tutility_structure.md
  src/content/config.ts
  src/layouts/Base.astro
  src/pages/about.astro
  src/pages/activities.astro
  src/pages/archive/[...slug].astro
  src/pages/archive/index.astro
  src/pages/index.astro
  src/pages/members.astro
  src/pages/posts/[...slug].astro
  src/pages/projects/index.astro
  src/pages/tutility.astro
  src/schedule.ts
Due: prettier, biome

位置入れ替え
  src/pages/index.astro
Due: prettier, biome

デザイン変更
  src/content/archive/pictchat/index.md
  src/content/archive/tutility_structure.md
  src/content/config.ts
  src/content/projects/map.md
  src/content/projects/tutility.md
  src/pages/about.astro
  src/pages/archive/[...slug].astro
  src/pages/archive/index.astro
  src/pages/index.astro
  src/pages/projects/[...slug].astro
  src/pages/projects/index.astro
  src/pages/tutility.astro
Due: prettier, biome

スクショ追加
  src/content/projects/tutility/index.md
  src/content/projects/tutility/tutility.jpg
Due: none

fix
  src/content/archive/pictchat/index.md
  src/content/archive/tutility_structure.md
  src/content/projects/map.md
  src/content/projects/tutility/index.md
Due: none

fix
  src/layouts/Base.astro
  src/pages/about.astro
  src/pages/archive/[...slug].astro
  src/pages/archive/index.astro
  src/pages/index.astro
  src/pages/projects/[...slug].astro
  src/pages/projects/index.astro
Due: prettier, biome

fix
  src/pages/archive/[...slug].astro
  src/pages/archive/index.astro
  src/pages/index.astro
  src/pages/projects/[...slug].astro
  src/pages/projects/index.astro
Due: prettier, biome

add 06/20 .md && remove helloworld
  src/content/archive/blogupdate.md
  src/content/archive/pictchat/index.md
Due: none

fix
  src/components/Header.astro
  src/components/PageContent.astro
  src/components/Slider.tsx
  src/layouts/Article.astro
  src/layouts/Base.astro
  src/pages/about.astro
  src/pages/archive/[...slug].astro
  src/pages/archive/index.astro
  src/pages/index.astro
  src/pages/projects/[...slug].astro
  src/pages/projects/index.astro
Due: prettier, biome

fix
  src/components/Card.astro
  src/components/PageContent.astro
  src/pages/about.astro
  src/pages/archive/index.astro
  src/pages/index.astro
Due: prettier, biome

Path conditions:
  prettier: any of: *.astro
  biome: any of: *.{js,ts,cjs,mjs,cts,mts,jsx,tsx,json,jsonc,astro}
